body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: aqua ;
}
.wrapper{
    display: flex;
    flex-grow: 2;

}
.left {
display: flex;
flex-grow: 0.02;
height: 99vh;
flex-direction: column;
gap: 40px;
text-align: justify;
padding-left: 2%;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
background:white;
}
.labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    gap: 30px;
}
a {
text-decoration: none;
font-size: 24px;
color:black;
transition: ease-in-out 1s;
/* Removed text-align: justify; as it's not effective for single line links */
}
a:hover{
  
    transition: 0.5s;
}
.right{
    flex-grow: 2;
    display: flex;
    flex-direction: column; /* Changed to column */

}
.search{
    flex-grow: 0.5;
    width: 100%; /* Spans the full width */
    display: flex; /* Added display flex */
    align-items: end;
    justify-content: flex-start; /* Aligns content to the right */
    padding-bottom:10px;
    padding-left: 10px;
    
}
form{
    display: flex;
    width: 30%;
    gap: 20px;
    padding: 5px;
}
input{
    width:200%;
    height: 40px;
    border-radius: 20px;
}
.users{
    width: 100%; /* Spans the full width */
}
.info{
    display: flex;
    flex-direction: column;
}
.category, .details {
display: flex;
flex-direction: row;
justify-content: space-between;

}

.category > div, .details > div {
flex: 1; /* Adjusts each child to take equal width */
text-align: center;
flex-grow: 0.5; /* Center the text in each column */
/* Optional: Adds padding inside each column for better spacing */
}

.box {
background-color: #fff; /* Background color for the box */
border-radius: 10px; /* Rounded corners */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
margin: 10px; /* Space around each box */
padding-top: 30px; /* Space inside the box */
padding-bottom: 30px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap; /* Wrap items if they don't fit in one line */
}
.submit{
background-color: #007BFF;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
text-align: center;
}

.search{
flex-grow: 0.5;

}
.bottom{
display: inherit;
flex-direction: column;
flex-grow: 0.9;
justify-content: flex-end;
}